<div class="table-wrapper">
  <table class="table">
    <thead class="table-header">
      <tr class="table-row">
        <th class="table-head pl-6">ID</th>
        <th class="table-head">Kind</th>
        <th class="table-head">Hostname</th>
        <th class="table-head">PID</th>
        <th class="table-head">Launched At</th>
        <th class="table-head">Last Heartbeat</th>
        <th class="table-head"></th>
      </tr>
    </thead>
    <tbody class="table-body">
      <%= render partial: 'solid_queue_dashboard/processes/table_row', collection: processes, as: :process %>
    </tbody>
  </table>
</div>