<div class="card">
  <div class="card-header border-b">
    <h2 class="card-title">Processes</h2>

    <div class="!mt-4">
      <%= render "filters" %>
    </div>
  </div>

  <div class="card-content !p-0">
    <% if @processes.any? %>
      <%= render "solid_queue_dashboard/processes/table", processes: @processes %>
    <% else %>
      <div class="px-6 py-12">
        <p class="text-muted-foreground text-center">
          No processes found
        </p>

        <% if any_processes_filters? %>
          <div class="flex justify-center mt-2">
            <%= link_to "Clear Filters", processes_path, class: "btn btn-outline btn-md" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
