<% highlight_ids = local_assigns[:highlight_ids] || [] %>

<div class="table-wrapper">
  <table class="table">
    <thead class="table-header">
      <tr class="table-row">
        <th class="table-head pl-6">ID</th>
        <th class="table-head">Status</th>
        <th class="table-head">Class</th>
        <th class="table-head">Queue</th>
        <th class="table-head">Scheduled At</th>
        <th class="table-head"></th>
      </tr>
    </thead>
    <tbody class="table-body">
      <%= render partial: "solid_queue_dashboard/jobs/table_row", collection: jobs, as: :job, locals: { highlight_ids: highlight_ids } %>
    </tbody>
  </table>
</div>
