<div class="card">
  <div class="card-header border-b">
    <h2 class="card-title">Recurring Tasks</h2>

    <div class="!mt-4">
      <%= render "solid_queue_dashboard/recurring_tasks/filters" %>
    </div>
  </div>

  <div class="card-content !p-0">
    <% if @recurring_tasks.any? %>
      <%= render "solid_queue_dashboard/recurring_tasks/table", recurring_tasks: @recurring_tasks %>
    <% else %>
      <div class="px-6 py-12">
        <p class="text-muted-foreground text-center">
          No recurring tasks found
        </p>
      </div>
    <% end %>
  </div>
</div>