<footer class="mt-6">
  <p class="text-xs text-center text-muted-foreground">
    <a
      href="https://github.com/akodkod/solid_queue_dashboard"
      target="_blank"
      class="hover:underline hover:text-foreground"
    >
      <%= icon_github class: "inline-block size-3 mr-0.5 -translate-y-px" %>GitHub
    </a>
  </p>
</footer>
